body{
    background-color:#EAE2D7;
}

/***** Begin top most row *****/
.pageFormTop{
    margin-bottom:20px;
}
.brandingTop{
    background:transparent url("../images/branding.png") no-repeat 54px center;
}
.brandingCenter{
    background:transparent url("../images/brandingSub.png") no-repeat center center;
}
.tempColor{
    background-color: red;
    height: 300px;
}
/***** End top most row *****/
/***** Begin second row navigation *****/
.row1{
    margin-bottom:40px;
}
.navContainer ul li{
    text-align:center;
    text-transform:uppercase;
    padding:0;
    width:16%;
    height:55px;        
    list-style:none;
    
}
.navContainer ul li a{
    display:inline-block;
    background:transparent url("../images/spriteNav.png") repeat right -4px;    
    text-decoration:none;
    padding:10%;
    width:100%;
    height:100%;
}
.navContainer ul li a:hover, .navContainer ul li a:focus{
    background-position:right 59px;     
}
.pageFormTop .btn{
    left:0.5em;
}
/***** End second row navigation *****/
/***** Begin third row content *****/
.row2 .colRight{
    height: 200px;
}
.row2 .colLeft{
    padding:0 54px
}
.midMainLeft{
    background:url(../images/midMainLeft.png);
    background-repeat:no-repeat;    
    height:516px;
}
.followUs{
    height:113px;
}
.randomlySelected{
    height:221px;
}
.randomlySelected li a{
    padding:5px 41px;
}
.socialHeading{
    color:#E61052;
    text-transform:uppercase;
    margin-top:20px;
    margin-bottom:20px;
}
.containerSocial{
    background-color:#FFFFFF;
    margin-bottom:20px;
    border-radius:10px;
    padding:5px 0 5px 3%;
}
.nav-pills li{
    width:31%;
}
.nav-pills > li > a {
    padding-top:0;
}
.nav-pills > li > a:hover{
    background-color:transparent;
}
.nav-pills .facebook a, .nav-pills .twitter a, .nav-pills .google a{    
    padding-left:26%;
}
.facebook{
    background:transparent url(../images/iconFacebook.png) no-repeat;    
}
.twitter{
    background:transparent url(../images/iconTwitter.png) no-repeat;
}
.google{
    background:transparent url(../images/iconGoogle.png) no-repeat;
}
/***** End third row content *****/
/***** Begin products grid *****/
.productsGrid{
    height: 300px;
    background-color: red;
}
.productTextContainer{
    background-color:#FFFFFF;   
}
.productText{
  line-height: 1.7em;
  margin-left: 43%;
  width: 62%;

}
.productCell00{
    background:url(../images/productsXplosian.png);
    background-position:left 3.0em; 
    background-repeat:no-repeat;        
}
.productCell01{
    background:transparent url(../images/productsHitInJapan.png) no-repeat left 3.0em;
}
.productCell10{
    background:transparent url(../images/productsNewFlavor.png) no-repeat left 3.0em;
}
.productCell11{
    background:transparent url(../images/productsDanishElder.png) no-repeat left 3.0em;
}
.productCell{
    background-color:#FFFFFF;
    background-size:40% auto;    
}
.productHeaderSub{
    font-weight:bold;
}
.productLink{
    color:#E61052;
    display:inline-block;
    background:transparent url(../images/bulletBoxAndArrowPointRight.png) no-repeat 3.0em center;
}
.products .productText, .productLink{
    line-height:1.7em;
    margin-left:43%;
    width:62%;
}

.container .row .productHeader{
    color:#FFFFFF;
    background:transparent url("../images/spriteNav.png") repeat-x right -4px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    min-width:569px;
    height:3.0em;    
}
/***** End products grid *****/
/***** Begin generics *****/
.pinkColor{
    color:#E61052;
}
.pinkBackground{
    background-color:#E61052;
}
.pinkLighterBackground{
    background-color:#EAE2D7;
}
.whiteColor, .whiteColor a{
    color:#FFFFFF;
}
.grayColor{
    color:#97866F;
}
.scaleBackground{
    background-size:100% auto;    
}
.brandingHeight{
    min-height:60px;
}
.borderRadius{
    border-radius:10px;
}
.alignRight{
    text-align:right;
    margin:0 12% 0 0;
}
.noPadding{
    padding:0;
}
.borderRadiusRight{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.borderRadiusLeft{
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;    
}
.bulletBoxArrow > li{
    background:url(../images/bulletBoxAndArrow.png) no-repeat left 10px;
}
.inlineBlock{
    display:inline-block;
}
/***** End generics *****/
/***** Begin media queries *****/
 @media (max-width:640px){
    .brandingTop{
        background-position:center center
    }
    .sm_inline{
        display:inline-block;
        width:57%;
    }
    .sm_center{
        text-align:center;
    }
    .navContainer ul li{
        width:41%;
    }    
    .borderRadiusRight{
        border-top-right-radius:0;
        border-bottom-right-radius:0;
    }
    .borderRadiusLeft{
        border-top-left-radius:0;
        border-bottom-left-radius:0;    
    }    
    .row2 .colRight{
        margin-top:27%;   
    }
    .container .row .productHeader{
        width:100%;    
    }



}
@media (max-width: 640px) and (orientation:landscape){
    .navContainer ul li{
        width:16%;
    }
}
/***** End media queries *****/




