body{
    background-color:#EAE2D7;
}
/***** Begin generics *****/
.pinkColor{
    color:#E61052;
}
.pinkBackground{
    background-color:#E61052;
}
.pinkLighterBackground{
    background-color:#EAE2D7;
}
.whiteColor{
    color:#FFFFFF;
}
.imgBackground{
    background-size:100% auto;    
}
.brandingHeight{
    min-height:60px;
}
.borderRadias{
    border-radius:10px;
}
/***** End generics *****/
/***** Begin top most row *****//
.pageFormTop{
    
}
.brandingTop{
    background:transparent url("../images/branding.png") no-repeat center center;
}
.brandingCenter{
    background:transparent url("../images/brandingSub.png") no-repeat center center;
}
.formRight{
    
}
/***** End top most row *****//
